<a href="https://colab.research.google.com/github/shivram36/pythonpandas/blob/main/VS_5_Python_basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Tuples

* used to store multiple items seperated by comma
* tuple is a collection of elements which is ordered and immutable.

In [ ]:
# Tuple having integers
t1 = (1, 7, 13, 34,5)
print(t1)

(1, 7, 13, 34, 5)

In [ ]:
# tuple with mixed datatypes
t2 = (1, "Hello", 3.4)
print(t2)

(1, 'Hello', 3.4)

In [ ]:
type(t2)

tuple

In [ ]:
#  concatenating 2 tuples
  
tuple1 = (244,456,768,23,568,22,7,6980)
tuple2 = (444, 888)
tuple3 = ('DA', 'DS')

print(tuple1 + tuple2)

(244, 456, 768, 23, 568, 22, 7, 6980, 444, 888)

In [ ]:
len(tuple1)

8

In [ ]:
# repetition of elements
tuple3 * 2

('DA', 'DS', 'DA', 'DS')

In [ ]:
tuple1[1]

456

In [ ]:
tuple1[3:]

(23, 568, 22, 7, 6980)

In [ ]:
tuple1[-1]

6980

In [ ]:
tuple1[5:-1]

(22, 7)

In [ ]:
## immutable 

tuple1[1] = 100

TypeError: 'tuple' object does not support item assignment

### List

* store multiple items in a single variable
* ordered, it means that the items have a defined order, and that order will not change
* If you add new items to a list, the new items will be placed at the end of the list
* mutable

In [ ]:
l1 = ["apple", "banana", "grapes", "apple", "mango"]
l1

['apple', 'banana', 'grapes', 'apple', 'mango']

In [ ]:
len(l1)

5

In [ ]:
l2 = ["a", 34, True, 40, "d"]
l2

['a', 34, True, 40, 'd']

In [ ]:
l2.append(100)
l2

['a', 34, True, 40, 'd', 100]

### Sets

* Set is an unordered collection data type that is iterable, mutable and has no duplicate elements

In [ ]:
s1 = set(["a", "b", "c"])
s1

{'a', 'b', 'c'}

In [ ]:
# Adding element to the set
s1.add("d")
s1

{'a', 'b', 'c', 'd'}

In [ ]:
s2 = {1.0, "Hello", (10, 20, 30)}
s2

{(10, 20, 30), 1.0, 'Hello'}

In [ ]:
s3 = {10, 20, 30, 40, 30, 20}
s3

{10, 20, 30, 40}

## Dictionary

* ordered, mutable and do not allow duplicate elements
* Values in a dictionary can be of any data type and can be duplicated, whereas keys canâ€™t be repeated.

In [ ]:
d1 = {'key1':'item1','key2':'item2'}
d1

{'key1': 'item1', 'key2': 'item2'}

In [ ]:
d2 = {'name': ['A','B','C'], 'age': [26, 25, 27]}
d2

{'name': ['A', 'B', 'C'], 'age': [26, 25, 27]}

In [ ]:
d2.get('name')

['A', 'B', 'C']

In [ ]:
d2.keys()

dict_keys(['name', 'age'])

In [ ]:
d2.values()

dict_values([['A', 'B', 'C'], [26, 25, 27]])

In [ ]:
d2['dept.'] = ['D1', 'D2', 'D3']

In [ ]:
d2

{'name': ['A', 'B', 'C'], 'age': [26, 25, 27], 'dept.': ['D1', 'D2', 'D3']}

In [ ]:
###

In [ ]:
### List Comprehension 
## shorter way to filter out records from a given list

def odd_num(x,y):
    return([a for a in range(x,y) if a%2!=0])

In [ ]:
odd_num(1,10)

[1, 3, 5, 7, 9]

In [ ]:
l1

['apple', 'banana', 'grapes', 'apple', 'mango']

In [ ]:
[fruits for fruits in l1 if fruits!='apple']

['banana', 'grapes', 'mango']

In [ ]:
squares = []
for i in range(10):
    squares.append(i * i)
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
[x**2 for x in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
mountains = [
    ['Makalu', 8485],
    ['Lhotse', 8516],
    ['Kanchendzonga', 8586],
    ['K2', 8611],
    ['Everest', 8848]
]



[x for x in mountains if x[1] > 8800]

[['Everest', 8848]]